.wrap{
    width: 1000px;
    height: 700px;
    border: 2px solid black;
    margin: 0 auto;
}
.block1 {
    background: #b0acac;
    width: 1000px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon{
    width:100px;
    height: 50px;
    background: black;
    margin-left: 50px;
    border-radius: 20px;
}
.nav{
    /*border: 1px solid red;*/
    width: 200px;
    height: 50px;
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    color: black;

}
.block2{
    background: moccasin;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.mainbox{
    width: 800px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    align-items: center;
    bottom: -50px;
}
.box{
    width: 100px;
    height: 100px;
    background: darkblue;
    border-radius: 20px;



}
.block3{
    background: cadetblue;
    height: 300px;
}